<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- AWS profile name or location http://docs.aws.amazon.com/AWSSdkDocsNET/latest/DeveloperGuide/net-dg-config-creds.html -->
        <add key="AWSProfileName" value="default" />
        <add key="AWSProfilesLocation" value="C:\Users\Administrator\.aws\config" />
        <add key="AWSDefaultRegionEndPoint" value="eu-west-1" />
    </appSettings>
</configuration>